body {
    background-color: rgb(218, 218, 218);
}
h1 {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    margin: 30px;
    text-align: center;
    
}
p {
    padding: 10px;
    font-size: 130%;
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    border: 5px;
    font-size: 150%;
}
img {
    height: 400px;
    width: 600px;
    display: block;
    margin: 20px auto;
    border: 2px solid rgb(0, 0, 0);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c4c4c4;
}

tr:nth-child(odd) {
background-color: rgb(180, 180, 180);
}

ul {
    color: rgb(0, 0, 0);

}

.topnav {
    text-align: center;
    margin-bottom: 20px;
}
img {
    width:500px;
    height:300px;
}
#mainTitle { line-height: 1.2; }
.topnav > a {
  padding: 8px 12px;
  margin: 0 8px;
  border: 1px solid #444;
  text-decoration: none;
  background: #fff;
  color: #000;
}
.topnav > a:hover {
  background: #000;
  color: #fff;
}
